@model IEnumerable<LepszeAnkiety.Repository.Entities.Form>
@{
    ViewData["Title"] = "Home Page";
}

<div style="text-align: right">
    <a class="btn btn-primary" asp-controller="Home" asp-action="AddForm">Dodaj ankietę</a>
</div>
<br />
<div class="text-center"> 
    <table class="table table-striped">
            <tbody>
                @foreach(var form in Model)
                {
                    <tr>
                        <th><a class="link-dark text-decoration-none" asp-controller="Form" asp-action="Index" asp-route-key="@form.FormKey">@form.Name</a></th>
                        <td><a class="text-decoration-none" asp-controller="Form" asp-action="Edit" asp-route-key="@form.FormKey">Edytuj Ankietę</a></td>
                        <td><a class="text-decoration-none" asp-controller="Form" asp-action="Result" asp-route-key="@form.FormKey">Zobacz wyniki</a></td>
                        <td><a class="text-decoration-none" asp-controller="Home" asp-action="DeleteForm" asp-route-key="@form.FormKey">Usuń</a></td>
                    </tr>
                }
            </tbody>
    </table>
</div>